
.review {
    padding: 2%;
    background-color: white;
    /*border-radius: 20px;*/
    border-radius: 2vw;
    margin-bottom: 2%;
    align-items: center;
}

.top_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.7%;
}

.username {
    font-size: 1.25vw;
    font-weight: bold;
    color: black;
}

.review_text {
    font-weight: lighter;
    font-size: 1.2vw;
}


