.book {
    padding: 2%;
    /*background-color: white;*/
    border-radius: 2vw;
    margin-bottom: 2%;
    display: flex;
    width: 100%;
    align-items: center;

    /*удалить:  Вернуть белый цвет*/
    background-color: gray;
}

.inform_block {
    width: 85%;
}

.name {
    font-size: 1.45vw;
    margin-bottom: 2.2%;
}

.author {
    margin-bottom: 1.2%;
    font-size: 1.15vw;
}

.genre {
    margin-bottom: 0.75%;
    font-size: 1.15vw;
}

.info {
    margin-bottom: 2.2%;
}

.price {
    font-size: 1.7vw;
    font-weight: bolder;
}

